{{#if admin}}
Admin: <a href="/admin/products">List of Products</a> | <a href="/admin/customers">List of Customers</a>
<br>
customerID: {{customerId}}
{{/if}}

<h3>Orders</h3>
<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Total Items</td>
      <td>Total Price</td>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    	<tr>
        <td>
        {{#if ../admin}}
          <a href="/admin/customers/{{../customerId}}/orders/{{this.orderId}}">
        {{else}}
          <a href="/orders/{{this.orderId}}">
        {{/if}}
        {{formatDate this.date}}</a></td>
        <td>{{this.items.length}}</td>
        <td>{{formatNumber this.total style="currency" currency="USD"}}</td>
        {{#if ../admin}}
          <td><a href="/admin/customers/{{../customerId}}/orders/{{this.orderId}}/delete">Delete</a></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
